/* <----------HERO----------> */
.hero {
  background: radial-gradient(circle, var(--green), var(--light-green) 350px);
  height: 600px;
  display: grid;
  grid-template-columns: 60% 1fr;
  align-items: center;
}

.hero section {
  margin: auto;
  max-width: 80rem;
}

.hero .text {
  display: grid;
  margin-top: 12rem;
  width: 26rem;
}

.hero h2 {
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-size: 1.25rem;
  font-weight: 300;
}

.hero .images {
  width: 100%;
  height: 70%;
  position: relative;
}

.hero .images img {
  position: absolute;
  filter: drop-shadow(-3px 3px 8px #222);
  animation: GFG 6s infinite linear;
}

.hero .images img:first-of-type {
  top: 4rem;
  left: 4rem;
}

.hero .images img:nth-of-type(2) {
  top: 6rem;
  left: 12rem;
  animation-delay: 2s;
}

.hero .images img:last-of-type {
  top: 11rem;
  left: 7rem;
  animation-delay: 4s;
}

@keyframes GFG {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 800px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
  }

  .hero .text {
    margin-top: 6rem;
    margin-left: 4rem;
  }

  .hero .images img:first-of-type {
    top: -5rem;
    left: 25rem;
  }

  .hero .images img:nth-of-type(2) {
    top: -3rem;
    left: 33rem;
  }

  .hero .images img:last-of-type {
    top: 1rem;
    left: 28rem;
  }
}

@media only screen and (max-width: 650px) {
  .hero .text {
    margin: auto;
    margin-top: 6rem;
  }

  .hero .images img {
    width: 100px;
  }

  .hero .images img:first-of-type {
    top: -2rem;
    left: 16rem;
  }

  .hero .images img:nth-of-type(2) {
    top: 0rem;
    left: 22rem;
  }

  .hero .images img:last-of-type {
    top: 4rem;
    left: 18rem;
  }
}

@media only screen and (max-width: 500px) {
  .hero .text {
    width: 90%;
  }

  .hero h2 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.25rem;
  }

  .hero .images img:first-of-type {
    top: -2rem;
    left: 10rem;
  }

  .hero .images img:nth-of-type(2) {
    top: 0rem;
    left: 16rem;
  }

  .hero .images img:last-of-type {
    top: 4rem;
    left: 12rem;
  }
}

/* <----------IMAGE SECTION----------> */

.image-section {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem auto;
  gap: 40px;
}

.image-section img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  box-shadow: 0 0 10px 1px #222;
}

/* <----------FEATURED PRODUCTS----------> */

.featured-products {
  display: grid;
  margin: auto;
  margin-bottom: 4rem;
  max-width: 80rem;
}

.featured-products section {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

/* <----------NEW ARRIVALS----------> */
.new-arrivals {
  display: grid;
  margin: auto;
  margin-bottom: 4rem;
  max-width: 80rem;
}

.new-arrivals section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

/* <----------HGIHLIGHT PRODUCT----------> */
.highlight-product {
  height: 400px;
  background: radial-gradient(circle, var(--green), var(--light-green) 350px);
  margin-bottom: 4rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.highlight-product section {
  width: 80%;
}

.highlight-product img {
  width: 150px;
  margin: auto;
  transform: rotate(-10deg);
  filter: drop-shadow(-5px 6px 6px #490046);
}

.highlight-product h4 {
  font-size: 2rem;
  margin: 0;
}

.highlight-product p {
  font-weight: 400;
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 550px) {
  .highlight-product {
    grid-template-columns: 1fr;
    height: fit-content;
    padding: 20px;
    text-align: center;
  }

  .highlight-product section {
    margin: auto;
    margin-top: 2rem;
  }
}

/* <----------REVIEWS----------> */
.reviews {
  display: grid;
  margin-bottom: 4rem;
}

.reviews section {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  padding: 20px;
  box-shadow: 0 0 10px 0px #464646;
}

.review p {
  font-weight: 500;
  height: 250px;
  line-height: 1.25rem;
}

.review img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: fill;
  margin: 0.75rem 0;
}

.review h5 {
  margin: 0;
  font-size: 0.9rem;
}

/* <----------SPONSORS----------> */
.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.sponsors img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

@media only screen and (max-width: 600px) {
  .sponsors {
    display: none;
  }
}
