.product-info-page {
  margin-top: 10rem;
  display: grid;
}

.product-info-page .product {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: auto;
}

.product-info-page .product img {
  width: 400px;
  max-height: 400px;
  object-fit: contain;
}
