body {
  margin: 0;
  font-family: "Montserrat", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}

#root {
  --green: #56ab2f;
  --light-green: #a8e063;
  --orange: #ff9600;
  --dark-orange: #ff7b00;
}

.heading {
  margin: auto;
  margin-bottom: 2rem;
}

.heading h3 {
  margin: 0;
  text-align: center;
  font-size: 2rem;
}

.heading hr {
  width: 10rem;
  height: 3px;
  background-color: var(--green);
}

.button {
  width: fit-content;
  padding: 10px 14px;
  background-color: var(--orange);
  box-shadow: 0 2px 3px #222;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  transition: all 0.25s;
}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: var(--dark-orange);
  outline: none;
  box-shadow: none;
  transform: translateY(3px);
}

.app-layout {
  position: relative;
  min-height: 100dvh;
  display: grid;
}

/* <----------NAVBAR----------> */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 1rem;
  width: 100%;
}

.navbar h1 {
  margin-left: 10px;
  font-size: 1.75rem;
  letter-spacing: 0.25rem;
  text-decoration: underline;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 10px;
  color: black;
  overflow: auto;
  transition: max-height 0.5s;
}

.navbar li {
  transition: all 0.25s;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar li:hover,
.navbar li:focus,
.navbar .active {
  cursor: pointer;
  text-decoration: underline;
  transform: translateY(-2px);
  font-weight: 500;
}

.navbar .menu-icon {
  display: none;
  font-size: 2rem;
}

@media only screen and (max-width: 700px) {
  .navbar ul {
    max-height: 0;
    position: absolute;
    top: 4rem;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
    background-color: var(--orange);
  }

  .navbar .menu-icon {
    display: block;
  }
}

/* <----------FOOTER----------> */
.footer {
  background-color: #222;
  color: #f2f2f2;
  height: fit-content;
  padding: 10px 0;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: auto;
}

.footer h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.footer p {
  color: rgb(156, 156, 156);
  text-align: center;
  line-height: 1.5rem;
}

.footer section {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer h5 {
  margin-bottom: 0;
  font-size: 1rem;
}

.footer ul {
  list-style-type: none;
  color: rgb(156, 156, 156);
  display: grid;
  padding: 0;
}

.footer li {
  margin: auto;
  margin-bottom: 0.5rem;
}

.footer li:hover,
.footer li:focus {
  cursor: pointer;
  color: #f2f2f2;
}

@media only screen and (max-width: 550px) {
  .footer {
    font-size: 0.75rem;
  }

  .footer p {
    line-height: 1rem;
  }
}

/* <----------FEATURED PRODUCT----------> */
.featured-product {
  /* background-color: #f1f1f1; */
  padding: 15px;
  display: grid;
  width: fit-content;
}

.featured-product img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.featured-product h5 {
  margin: 1rem 0;
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
}

.featured-product p {
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  font-weight: 400;
}

.featured-product .product:hover {
  cursor: pointer;
}

/* <----------TOASTER----------> */

.toast {
  border: 1px solid var(--green);
}
